.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.total-clicks {
	text-align: center;
	.counter {
		font-size: 4rem;
		font-weight: 700;
	}

	.text {
		margin-top: 0.5rem;
		font-size: 2rem;
		font-weight: 600;
		color: var(--font-c);
	}
}

button {
	margin: 5rem 0 2rem;
	background-color: var(--red);
	color: var(--white);
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 30px;
	font-weight: 600;
	border: 0;
	cursor: pointer;

	&:hover {
		background-color: blue;
	}
}

.personal-clicks {
	color: var(--font-c);
	font-size: 1.5rem;

	span {
		color: var(--white);
		font-weight: 600;
	}
}
