@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--fnt-main: "Roboto", sans-serif;
	--clr-background: hsl(255, 7%, 11%);
	--clr-txt-main: hsl(0, 0%, 30%);
	--clr-txt-footer: hsl(231.3, 20.12%, 23.73%);
	--clr-button: hsl(0, 78%, 55%);
}

html {
	font-size: 62.5%;
}

body,
#root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	font-family: var(--fnt-main);
	font-size: 1rem;
	color: var(--clr-txt-main);
}

body {
	background-color: var(--clr-background);
	background-image: url(/background.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
